<header>
		<div class="bread-crumbs">
			<a class="toggle-menu" href="javascript:;"><i class="fas fa-bars"></i></a>
			<span>DASHBOARD</span>
		</div>
		<div class="user-wrapper">
			<div class="user">
				<a href="../account/change-password-form.html" class="full-name">made</a>
				<span class="role">admin</span>
			</div>
			<div class="sign-out">
				<form action="" method="POST">
					<input type="hidden" />
					<button type="submit"><i class="fas fa-sign-out-alt"></i></button>
				</form>
			</div>
		</div>
	</header>
<main>
    <div class="dashboard-wrapper">

        <div class="dashboard-container annual-income">
            <div class="header">
                <h1>Indikator Utama Kerja</h1>
            </div>
            <div class="body">
                <div class="chart"></div>
                <div class="analysis">
                    <div>
                        Nama Karyawan :
                        <select class="order-year">
                            <option value="Agung">Agung</option>
                            <option value="Kusnandar">Kusnandar</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-container salesmen-comparison">
            <div class="header">
                <h1>Kompetensi Dasar</h1>
            </div>
            <div class="body">
                <div class="year-dropdown">
                    Nama Karyawan :
                    <select class="order-year">
                        <option value="Agung">Agung</option>
                        <option value="Kusnandar">Kusnandar</option>
                    </select>
                </div>
                <div class="chart"></div>
            </div>
        </div>
        <div class="dashboard-container salesman-performance">
            <div class="header">
                <h1>Indikator Tanggung Jawab Area</h1>
            </div>
            <div class="body">
                <div class="dashboard-filter">
                    <div>
                        Nama Karyawan :
                        <select class="order-year">
                            <option value="Agung">Agung</option>
                            <option value="Kusnandar">Kusnandar</option>
                        </select>
                    </div>
                </div>
                <div class="chart"></div>
            </div>
        </div>
        <div class="dashboard-container income-by-region">
            <div class="header">
                <h1>Pengurangan Atau Penambahan Nilai</h1>
            </div>
            <div class="body">
                <div class="year-dropdown">
                    Nama Karyawan :
                    <select class="order-year">
                        <option value="Agung">Agung</option>
                        <option value="Kusnandar">Kusnandar</option>
                    </select>
                </div>
                <div class="chart"></div>
            </div>
        </div>
        <div class="dashboard-container customer-interest">
            <div class="header">
                <h1>Rekapitulasi Nilai</h1>
            </div>
            <div class="body">
                <div class="dashboard-filter">
                    <div>
                        Nama Karyawan :
                        <select class="order-year">
                            <option value="Agung">Agung</option>
                            <option value="Kusnandar">Kusnandar</option>
                        </select>
                    </div>
                </div>
                <div class="chart"></div>
            </div>
        </div>
        <div class="dashboard-container category-popularity">
            <div class="header">
                <h1>Area Pengembangan</h1>
            </div>
            <div class="body">
                <div class="year-dropdown">
                    Nama Karyawan :
                    <select class="order-year">
                        <option value="Agung">Agung</option>
                        <option value="Kusnandar">Kusnandar</option>
                    </select>
                </div>
                <div class="chart"></div>
            </div>
        </div>

        <div class="dashboard-container customer-activity">
            <div class="header">
                <h1>Persetujuan</h1>
            </div>
            <div class="body">
                <div class="dashboard-filter">
                    <div>
                        Nama Karyawan :
                        <select class="order-year">
                            <option value="Agung">Agung</option>
                            <option value="Kusnandar">Kusnandar</option>
                        </select>
                    </div>
                </div>
                <div class="chart"></div>
            </div>
        </div>
    </div>
</main>